.Food-autocomplete {
	max-width: 480px;
  	margin: 40px auto;
	position: relative;
}

.Food-input input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 10px 5px;
	transition: 0.7s;
}

.Food-input input:focus {
	outline: none;
	border-color: #007bff;
}

.Food-input input:focus .Food-suggestions {
	border-color: #eee;
}

.Food-autocomplete ul {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

.Food-autocomplete li {
	padding: 10px 5px;
	cursor: pointer;
	border-radius: 4px;
	transition: 0.7s;
}

.Food-autocomplete li:hover {
	background-color: #eee;

}

.Food-input {
	position: relative;
}

.Food-input:before {
    content: "\1F50D";
    position: absolute;
    top: 10px;
    right: 0;
}

.Food-suggestions {
	position: absolute;
	width: 100%;
	border: none;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 10px -3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 2px 10px -3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 2px 10px -3px rgba(0,0,0,.3);
	z-index: 9;
}